body {
  background-color: wheat;
  color: firebrick;
  text-align: center;
  font-size: 24px;
}
h1 {
  color: wheat;
  background-color: firebrick;
  text-align: center;
}

a {
  color: #1a8b2c;
}
hr {
  border: 2px solid firebrick;

}
.footer {
  border: 4px solid firebrick;
  background-color: wheat;

}
